<%- include('../partials/header.ejs') -%>

<div class="row">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col">
                <h1>Listado de Productos</h1>
            </div>
            <div class="col align-self-center text-end">
                <a href="/productos/create" class="btn btn-success">Nuevo Producto</a>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto => { %>
                    <tr>
                        <th scope="row">
                            <%= producto.id %>
                        </th>
                        <td>
                            <%= producto.name %>
                        </td>
                        <td>
                            <%= producto.price %>
                        </td>
                        <td>
                            <%= producto.category %>
                        </td>
                        <td>
                            <%= producto.description %>
                        </td>
                        <td class="d-flex justify-content-end gap-2">
                            <a href="/productos/<%= producto.id %>/edit" class="btn btn-primary">Editar</a>
                            <form class="form-delete" action="/productos/<%= producto.id %>/delete?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<script>
    const forms = document.querySelectorAll('.form-delete')

    forms.forEach(form => {
        form.addEventListener('submit', (event) => {
            event.preventDefault()

            if (confirm('¿Está seguro?')) {
                event.target.submit()
            }
        })
    })
</script>

<%- include('../partials/footer.ejs') -%>
